<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Word Counter</title>
    </head>
    <body>
        <div class="container">
            <h2><i>Please enter only one word to search for!</i></h2>
            <div class="form-group">
                <a href="/"><i>Take me home!</i></a>
            </div>
        </div>
    </body>
</html>
