<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Word Counter</title>
    </head>
    <body>
        <div class='container'>
            <h1><i>Word Count!</i></h1>
            <form action=/results>
                <div class='form-group'>
                    <label for='search_word'>Enter the word you would like to search for:</label>
                    <input id='search_word' name='search_word' class='form-control' type='text'>
                    <label for='search_text'>Enter the text you would like to search:</label>
                    <input id='search_text' name='search_text' class='form-control' type='text'>
                </div>
                <button type='submit' class='btn-success'>Search!</button>
            </form>
        </div>
    </body>
</html>
